<?xml version="1.0" ?>
<robot name="manipulator">
  <!-- Link Definitions -->
  <link name="world"/>

  <joint name="world_to_drone" type="fixed">
    <parent link="world"/>
    <child link="link_drone"/>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- World 좌표계와 동일 -->
  </joint>
  
<link name="link_drone">
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Center of mass adjustment -->
    <mass value="1"/>
    <inertia ixx="0.032" ixy="0" ixz="0" iyy="0.032" iyz="0" izz="0.00012"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- Center of mass adjustment -->  
    <geometry>
        <mesh filename="package://ros_gz_example_description/models/manipulator/meshes/crazyflie.dae" scale="0.005 0.005 0.005"/>
    </geometry>
  </visual>
</link>

<!-- 엔드이펙터 -->
  <link name="link_ee">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://ros_gz_example_description/models/manipulator/meshes/EE.dae" scale="0.005 0.005 0.005"/>
      </geometry>
    </visual>
  </link>

  <!-- 드론과 EE 연결 -->
  <joint name="drone_to_ee" type="fixed">
    <parent link="link_drone"/>
    <child link="link_ee"/>
    <origin xyz="0 0 0" rpy="0 0 0"/> <!-- 135도 회전 -->
  </joint>

</robot>
